// Other theme variables
// Variable pattern: @theme-type-<role>
@theme-fontFamily-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Cantarell, "Helvetica Neue", sans-serif;

// Theme colors
// Variable pattern: @theme-color-<role>[-<modifier>]
@theme-color-brand:                    @color-red-piwik;
@theme-color-brand-contrast:           @color-white;
@theme-color-text:                     @color-black-piwik;
@theme-color-text-light:               #444;
@theme-color-text-lighter:             @color-silver-l40;
@theme-color-text-contrast:            #777;
@theme-color-link:                     @color-blue-piwik;
@theme-color-base-series:              #ee3024;

@theme-color-headline-alternative: #4E4E4E;

@theme-color-header-background: #EEE;

@theme-color-menu-contrast-text: @theme-color-text;
@theme-color-menu-contrast-textSelected: @theme-color-menu-contrast-text;
@theme-color-menu-contrast-textActive: @theme-color-brand;
@theme-color-menu-contrast-background: @theme-color-background-contrast;

@theme-color-widget-exported-background-base: @theme-color-background-contrast;

@theme-color-widget-title-text: @theme-color-text;
@theme-color-widget-title-background: @theme-color-background-contrast;

nav ul a{
	color: #000 !important;
}

nav.blue-grey.darken-3 {
	background-color: #EEE !important;
}

